a:link { 
    text-decoration: underline; 
    color: blue; 
   }

a:visited { 
    text-decoration: underline; 
    color: blue; 
   }

a:hover { 
    text-decoration: underline; 
    color: white;
    background-color: blue;
   }

div.content {
    max-width: 720px;
    line-height: 1.4;
}